{% extends 'base.html' %}

{% block nav_menu %}
<ul class="vs-nav">

    <!-- InstanceBeginEditable name="Menu-Content" -->

    <li><a href="/"><i class="fa fa-home tooltip" title="Página inicial" data-tooltip-pos="right"></i></a></li>

    <!-- InstanceEndEditable -->

</ul>
{% endblock nav_menu %}

{% block content %}
<div class="wrapper">

    <!-- InstanceBeginEditable name="Page-Content" -->


    <!-- .full-width-content -->
    <div class="full-width-content">


        <!-- .hentry -->
        <article class="post hentry">


            <!-- .entry-content -->
            <div class="entry-content">

                <!-- .row-fluid -->
                <div class="row">

                    <!-- col 12/12 -->
                    <div class="col-md-12">

                        <!-- http-alert -->
                        <div class="http-alert">
                            <h1>404</h1>
                            <p>Page not found =/</p>
                        </div>
                        <!-- http-alert -->

                    </div>
                    <!-- col 12/12 -->

                </div>
                <!-- .row-fluid -->


            </div>
            <!-- .entry-content -->

        </article>
        <!-- .hentry -->

    </div>
    <!-- .full-width-content -->


    <!-- InstanceEndEditable -->
</div>

{% endblock content %}
