{% extends 'base.html' %}
{% load staticfiles %}
{% load disqus_tags %}

                    {% block nav_menu %}
                    <!-- InstanceBeginEditable name="Menu-Content" -->

                        <li><a href="{% url 'all_articles' %}"><i title="visualizar artigos" class="fa fa-reply tooltip" ></i></a></li>
                        <li><a href="/"><i title="página inicial" class="fa fa-home tooltip" ></i></a></li>

                    {% endblock nav_menu %}

                {% block content %}
                <!-- InstanceBeginEditable name="Page-Content" -->

                <!-- .blog-single -->
                <div class="readable-content blog-single ">

                    <!-- .hentry -->
                    <article class="post type-post format-standard hentry">

                      <!-- .entry-header -->
                      <header class="entry-header">
                        <h1 class="entry-title">{{article.title}}</h1>
                      </header>
                      <!-- .entry-header -->

                      <!-- .entry-meta -->
                      <div class="entry-meta">

                            <span class="posted-on">
                                postado em
                                <a href="#" title="11:15 pm" rel="bookmark"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">{{article.create_date}}</time></a>
                            </span>

                            <span class="posted-by">
                                por
                                <a class="url fn n" href="http://alexfalcucci.com/" title="View all posts by ahmetsali" rel="author">{{article.create_user}}</a>
                            </span>

                            <!--<span class="edit-link">
                                <a class="post-edit-link" href="#" title="Edit Post">Edit</a>
                            </span>-->

                      </div>
                      <!-- .entry-meta -->

                      <!-- .entry-content -->
                      <div class="entry-content">




                        {{article.content|safe}}


                            <!-- .project-action -->
                            <div class="project-action">
                                <p><i>Você pode conferir o código da aplicação em:</i></p>
                                {% if article.url_download %}
                                <a href="{{article.url_download}}" class="button button-icon big blue" target="_blank"><i class="fa fa-cloud-download"></i>DOWNLOAD</a>
                                {% endif %}
                                {% if article.url_preview %}
                                <a href="{{article.url_preview}}"  target="_blank" class="button button-icon big grass"><i class="fa fa-eye"></i>PREVIEW</a>
                                {% endif %}
                                {% if article.url_github %}
                                <a href="{{article.url_github}}" target="_blank" class="button button-icon big red"><i class="fa fa-github"></i>GITHUB</a>
                                {% endif %}
                            </div>
                            <!-- .project-action -->

                            <!-- .related-posts -->
                            <div class="related-posts">
                                <h3>ARTIGOS RELACIONADOS</h3>
                                <ol>
                                    {% for article in articles %}
                                    <li><a href="{% url 'article' article.slug %}" rel="bookmark">{{article.title}}</a></li>
                                    {% endfor %}
                                </ol>
                            </div>
                            <!-- .related-posts -->

                      </div>
                      <!-- .entry-content -->

                      {% if article.get_tags %}
                      <!-- .entry-meta -->
                      <footer class="entry-meta">
                        <h3>TAGS</h3>
                        {% for tag in article.get_tags %}
                        <a href="#" rel="tag">{{tag}}</a>
                        {% endfor %}
                      </footer>
                      <!-- .entry-meta -->
                      {% endif %}

                    </article>
                    <!-- .hentry -->

                    <!-- .about-author -->
                    <aside class="about-author">

                        <h3>ESCRITO POR</h3>

                        <!-- .author-bio -->
                        <div class="author-bio">
                            <!-- .author-info -->
                            <div class="author-info">
                                <h4 class="author-name">Alexsander Falcucci</h4>
                                <p>Amante de programação, música e café. Nascido em Mato Grosso, Cuiabá, Varzea Grande. Aplica seu tempo em tecnologias obtendo um amplo conhecimento geral e específico na área de programação. Admira comunidades, projetos open-sources e eventos tecnológicos.</p>
                            </div>
                            <!-- .author-info -->

                        </div>
                        <!-- .author-bio --> 

                    </aside>
                    <!-- .about-author -->
                    {% if previous_post and next_post %}
                    <!-- .nav-single -->
                    <nav class="nav-single row">
                        {% if previous_post %}
                        <div class="nav-previous col-sm-6">
                            <h4>ARTIGO ANTERIOR</h4>
                            <a href="{% url 'article' previous_post.slug %}" rel="prev"><span class="meta-nav">←</span> {{previous_post.title}}</a>
                        </div>
                        {% else %}
                        <div class="nav-previous col-sm-6">
                            <h4>ARTIGO ANTERIOR</h4>
                            <span class="fa fa-ban"></span> Não há artigos anteriores.
                        </div>
                        {% endif %}
                        {% if next_post %}
                        <div class="nav-next col-sm-6">
                            <h4>PRÓXIMO ARTIGO</h4>
                            <a href="{% url 'article' next_post.slug %}" rel="next">{{next_post.title}} <span class="meta-nav">→</span></a>
                        </div>
                        {% endif %}
                    </nav>
                    <!-- .nav-single --> 
                    {% endif %}

                    {% disqus_show_comments %}

                </div>
                <!-- .blog-single --> 
                
                
                <!-- InstanceEndEditable -->
            
            
                {% endblock content %}