{% load staticfiles %}
<!-- PAGE : BLOG -->
				<section id="blog" class="page">
					<div class="content">
						
                        
                        
                        
                        <h2 class="section-title center"><span><i class="icon-book-open"></i>ÚLTIMOS ARTIGOS</span></h2>
						
                        <!-- LATEST POSTS -->	
                        <div class="latest-posts media-grid" data-layout="fitRows">
                        
                        	{% for article in articles %}
                            <!-- post -->
                        	<article class="hentry media-cell">
                            	
                                <div class="media-box">
                                    <img src="http://res.cloudinary.com/alexfalcucci/image/upload/c_fill,h_350,w_400/{{ article.picture }}.jpg" alt="post-image">
                                    <div class="mask"></div>
                                    <a href="blog-single.html"></a>
                                </div>
                                
                                <header class="media-cell-desc">
                                	<span title="2013" class="date">{{article.create_date}}</span>
                                	<h3><a href="blog-single.html">{{article.title}}</a></h3>
                                </header>
                                
                            </article>
                            <!-- post -->
                            {% empty %}
                                <div class="alert">
                                    <strong>Desculpe:</strong> Não existem artigos publicados.
                                </div>
                            {% endfor %}
                            
                            
                            
                        	
                        </div>
                        <!-- LATEST POSTS -->	       
                             
                                     
                        <p class="launch"><a class="button primary" href="{% url 'all_articles' %}">SEE ALL POSTS</a></p>
                             
                               
						
					</div>
				</section>
                <!-- PAGE : BLOG -->