{% load staticfiles %}
<!-- InstanceBeginEditable name="Page-Content" -->


<!-- PAGE : ABOUT -->
<section id="about" class="page">
    <div class="content">

        <!-- row -->
        <div class="row">

            <!-- column 8/12 -->
            <div class="col-md-8">

                <h2 class="section-title"><span><i class="fa fa-user"></i>A BIT ABOUT ME</span></h2>

                <!-- intro -->
                <div class="intro">

                    <h2>

                        Hey there! Feel yourself free to explore it!
                        How are you? I would like to say that somethimes I looked as a
                        <br>
                        <span class="rotate-words">
                            <span>developer.</span>
                            <span>freelancer.</span>
                            <span>musician.</span>
                        </span>

                    </h2>

                </div>
                <!-- intro -->

  
            </div>
            <!-- column 8/12 -->


            <!-- column 4/12 -->
            <div class="col-md-4">

                <h2 class="section-title"><span><i class="fa fa-twitter"></i>LATEST TWEETS</span></h2>

                <div id="latest-tweets" class="widget-twitter" data-twitterId="539285354923454464" data-tweet-count="1" data-include-retweets="false"></div>

            </div>
            <!-- column 4/12 -->


        </div>
        <!-- row -->




        <h2 class="section-title"><span><i class="fa fa-magic"></i>ATIVIDADES</span></h2>

        <!-- SERVICES -->
        <div class="row">


            <div class="col-sm-6 col-md-3">

                <!-- service -->
                <div class="service color1">
                    <i class="fa fa-html5"></i>
                    <h4>Web</h4>
                    <p>Eu desenvolvo sites simples e intuitivos. Os usuários gostam disso, legibilidade com objetivo e conteúdo.</p>
                </div>
                <!-- service -->

            </div>

            <div class="col-sm-6 col-md-3">

                <!-- service -->
                <div class="service color2">
                    <i class="fa fa-code"></i>
                    <h4>CODIFICAÇÃO</h4>
                    <p>Eu posso desenvolver bons softwares com as linguagens que mais admiro. "Life is like bicycle, to keep your balance you must keep moving..."</p>
                </div>
                <!-- service -->

            </div>

            <div class="col-sm-6 col-md-3">

                <!-- service -->
                <div class="service color3">
                    <i class="fa fa-strikethrough"></i>
                    <h4>WRITE BLOG</h4>
                    <p>A pouco tempo me veio a ideia de escrever sobre o que mais amo, de modo geral: programaçao, música, entre outros.</p>
                </div>
                <!-- service -->

            </div>

            <div class="col-sm-6 col-md-3">

                <!-- service -->
                <div class="service color4">
                    <i class="fa fa-slideshare"></i>
                    <h4>Open Source</h4>
                    <p>Acrediito que através de compartilhamento e discussão com outras pessoas, as chances destas ideias se tornarem realidade são muito maiores. </p>
                </div>
                <!-- service -->

            </div>

        </div>
        <!-- SERVICES -->





        <h2 class="section-title"><span><i class="fa fa-gavel"></i>FLUXO DE TRABALHO</span></h2>

        <!-- PROCESS -->
        <div class="row">


            <div class="col-xs-6 col-sm-4 col-md-2">

                <!-- process -->
                <div class="process">

                    <div class="process-box">
                        <i class="fa fa-exclamation"></i>
                        <h4>IDEIA</h4>
                    </div>

                </div>
                <!-- process -->

            </div>

            <div class="col-xs-6 col-sm-4 col-md-2">

                <!-- process -->
                <div class="process">
                    <div class="process-box">
                        <i class="fa fa-puzzle-piece"></i>
                        <h4>CONCEITO</h4>
                    </div>
                </div>
                <!-- process -->

            </div>

            <div class="col-xs-6 col-sm-4 col-md-2">

                <!-- process -->
                <div class="process">

                    <div class="process-box">
                        <i class="fa fa-paint-brush "></i>
                        <h4>DESIGN</h4>
                    </div>

                </div>
                <!-- process -->

            </div>

            <div class="col-xs-6 col-sm-4 col-md-2">

                <!-- process -->
                <div class="process">

                    <div class="process-box">
                        <i class="fa fa-code"></i>
                        <h4>DEV.</h4>
                    </div>

                </div>
                <!-- process -->

            </div>

            <div class="col-xs-6 col-sm-4 col-md-2">

                <!-- process -->
                <div class="process">

                    <div class="process-box">
                        <i class="fa fa-bug"></i>
                        <h4>TESTES</h4>
                    </div>

                </div>
                <!-- process -->

            </div>

            <div class="col-xs-6 col-sm-4 col-md-2">

                <!-- process -->
                <div class="process">

                    <div class="process-box">
                        <i class="fa fa-rocket"></i>
                        <h4>DEPLOY</h4>
                    </div>

                </div>
                <!-- process -->

            </div>

        </div>
        <!-- PROCESS -->

    </div>
</section>
                <!-- PAGE : ABOUT -->
