{% load staticfiles %}
<!-- PAGE : CONTACT -->
				<section id="contact" class="page">
					<div class="content">
                        	
                           

                        <!-- row -->
                        <div class="row">
                            
                            
                            <!-- column 6/12 -->
                            <div class="col-md-6">
                                             
                                <h2 class="section-title"><span><i class="fa fa-user"></i>PEGUE MEUS CONTATOS</span></h2>
                                
                                <!-- LETTER -->
                                <div class="letter">
                                    
                                    <h4 class="letter-title">Alexsander Falcucci dos Santos</h4>

                                    <div class="letter-info">
                                        <p><i class="fa fa-at"></i>alex.falcucci@gmail.com</p>
                                        <p><i class="fa fa-phone"></i>35 9991 3899</p>
                                        <p><i class="fa fa-map-marker fa-5x"></i>Av. Santa Cruz, nº 3255, Apt. 105, bloco 10, Franca - São Paulo</p>
                                    </div>
                                    
                                  </div>    
                                  <!-- LETTER -->
                               
                            
                              
                                  <h2 class="section-title"><span><i class="fa fa-paper-plane-o"></i>DEIXE SUA MENSAGEM</span></h2>
                                        
                                    
                                  <!-- .contact-form -->
                                  <div class="contact-form">
                                    
                                      <form id="contact-form" action="send-mail.php" method="post">
                                        
                                        <!-- enter mail subject here -->
                                        <input type="hidden" name="subject" id="subject" value="You have a new message from cvCard!">
                                        
                                        <p>
                                          <label for="name">NOME</label>
                                          <input type="text" name="name" id="name" class="required">
                                        </p>
                                        
                                        <p>
                                          <label for="email">EMAIL</label>
                                          <input type="text" name="email" id="email" class="required email">
                                        </p>
                                        
                                        
                                        <p>
                                          <label for="message">MENSAGEM</label>
                                          <textarea name="message" id="message" class="required"></textarea>
                                        </p>
                                       
                                        <p>
                                          <input type="submit" class="submit button primary" value="ENVIAR">
                                        </p>
                                        
                                      </form>
                                      
                                  </div>
                                  <!-- .contact-form -->
                            
                          </div>
                          <!-- column 6/12 -->
                          
                          
                          <!-- column 6/12 -->
                          <div class="col-md-6">
                          
                          
                                  <h2 class="section-title"><span><i class="fa fa-paw"></i>SIGA-ME</span></h2>
                          
                                  <!-- SOCIAL -->
                                  <ul class="social">
                                    <li><a class="fa fa-facebook" id="facebook" href="#"></a></li>
                                    <li><a class="fa fa-twitter" id="twitter" href="#"></a></li>
                                    <li><a class="fa fa-linkedin" id="linkedin" href="#"></a></li>
                                    <li><a class="fa fa-google-plus" id="google-plus" href="#"></a></li>
                                    <li><a class="fa fa-github" id="github" href="#"></a></li>
                                    <li><a class="fa fa-instagram" id="instagram" href="#"></a></li>
                                    <li><a class="fa fa-skype" id="skype" href="#"></a></li>
                                    <li><a class="fa fa-youtube" id="youtube" href="#"></a></li>
                                    <li><a class="fa fa-stack-overflow" id="stack-overflow" href="#"></a></li>
                                    <li><a class="fa fa-foursquare" id="foursquare" href="#"></a></li>
                                    <li><a class="fa fa-soundcloud" id="soundcloud" href="#"></a></li>
                                    <!--<li><a class="deviantart" href="#"></a></li>
                                    <li><a class="soundcloud" href="#"></a></li>
                                    <li><a class="fivehundredpx" href="#"></a></li>
                                    <li><a class="slideshare" href="#"></a></li>-->
                                  </ul>
                                  <!-- SOCIAL -->
                                  
                                  
                                  <h2 class="section-title"><span><i class="fa fa-map-marker"></i>LOCALIZAÇÃO</span></h2>                                                   
                                  <!-- GOOGLE MAP -->
                                  <iframe width="600" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-47.67791748046875%2C-20.788214486017242%2C-47.1917724609375%2C-20.39998480404424&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="http://www.openstreetmap.org/#map=11/-20.5942/-47.4348">Ver Mapa Ampliado</a></small>
                                <!-- GOOGLE MAP -->
                                  
                          </div>
                          <!-- column 6/12 --><!-- column 6/12 -->
                            
                            
                            
                        </div>    				
                        <!-- row -->      
                                          
                                              
                                          
                    </div>
				</section>
                <!-- PAGE : CONTACT -->
