{% load staticfiles %}
<!-- PAGE : RESUME -->
				<section id="resume" class="page">
					<div class="content">
						<!-- CONTENT -->
                                       
                                        
                     	<!-- row -->
                        <div class="row">
                        
                        	
                            <!-- col 6/12 -->
                            <div class="col-md-6">
                                          
                                <!-- timeline -->
                                <div class="timeline">
                                
                                    <h2><i class="fa fa-flask"></i>HISTÓRICO</h2>
                                    
                                    <div class="event current">
                                        <span class="date">2014</span>
                                        <h4>Web Developer Intern</h4>
                                        <h5>Direito de Ouvir Amplifon Brasil S/A.</h5>
                                        <p>Eu trabalhei para Direito de Ouvir Amplifon até o fim de meu contrato (27/11/2014) implementando o <a href="http://www.direitodeouvir.com" target="_blank">site</a> e o <a href="http://gdo.direitodeouvir.com" target="_blank">sistema</a> da empresa, utilizando PHP, LARAVEL, Wordpress, Javascript/Jquery e MySQL.</p>
                                    </div>
                                    
                                    
                                    <div class="event">
                                        <span class="date">2014</span>
                                        <h4>Web Developer Django</h4>
                                        <h5>EnterPlug</h5>
                                        <p>Trabalhei como freelancer para EnterPlug na construção <a href="http://www.tobuscando.com" target="_blank">Tobuscando.com</a>. Um site de Leilão Inverso para anunciantes, utilizando as tecnologias/ferramentas: Python, Django, Javascript, Jquery e PostgreeSQL.</p>
                                    </div>
                                    
                                    <div class="event">
                                        <span class="date">2014</span>
                                        <h4>Web Developer</h4>
                                        <h5>T&T Sistemas</h5>
                                        <p>Fui responsável pela manutenção e implementação funcionalidades no sistema, utilizando Python, Django, Javascript, Jquery e MySQL.</p>
                                    </div>
                               
                               </div>
                               <!-- timeline -->
                               
                               
                               <!-- timeline -->
                               <div class="timeline">
                                
                                    <h2><i class="fa fa-mortar-board"></i>HISTÓRICO EDUCACIONAL</h2>
                                    
                                    <div class="event">
                                        <span class="date">2014</span>
                                        <h4>Sistemas de Informação</h4>
                                        <h5>Universidade de Franca Cruzeiro do Sul</h5>
                                        <p>Eu estudei Sistemas de informação na Universidade de Franca Cruzeiro do Sul, envolvendo os principais conceitos considerados por mim:
	                                    <ul>
	                                        <li>Lógica de programação e algorítmos</li>
	                                        <li>Lógica Matemática</li>
	                                        <li>Matemática discreta</li>
	                                        <li>Banco de Dados</li>
	                                        <li>Administração Geral</li>
	                                    </ul>
	                                    Veja também o meu Trabalho de Conclusão de Curso (TCC), online: <a href="http://sistemasga.herokuapp.com" target="_blank">Sistema S.G.A.</a></p>
                                    </div>
                                    
                                    
                                    <div class="event">
                                        <span class="date">2014</span>
                                        <h4>Django na prática</h4>
                                        <h5>Welcome to the Django</h5>
                                        <p>Conclui o curso <a href="http://www.welcometothedjango.com.br">Welcome to the Django, </a>ministrado por <a href="http://henriquebastos.net/">Henrique Bastos</a>. Um dos melhores cursos não presencial que já fiz, com ótimo custo benefício. Veja a <a href="http://welcometothedjango.com.br/grade/">grade</a> com mais detalhes.</p>
                                    </div>
                                    
                                    <div class="event">
                                        <span class="date">2014</span>
                                        <h4>Objetos Pythonicos</h4>
                                        <h5>PYTHON PRO</h5>
                                        <p>É apresentado os conceitos fundamentais de Orientação a Objetos e alguns Padrões de Projeto e sua aplicação prática na linguagem Python, com exemplos na biblioteca padrão e nos frameworks Django (Web) e Tkinter (GUI).</p>
                                    </div>
                               
                               </div>
                               <!-- timeline -->
                               
                              
                              </div> 
                              <!-- col 6/12 -->
                               
                               
                               
                               <!-- col 6/12 -->
                               <div class="col-md-6">
                                
                                    <h2 class="section-title"><span><i class="fa fa-cog"></i>HABILIDADES</span></h2>
                                
                                    <!-- DEV SKILLS -->
                                    <div class="skillset">
                                    
                                        <!-- .skill-unit -->
                                        <div class="skill-unit">
                                            <h4>PYTHON</h4>
                                            <div class="bar" data-percent="80">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                        <!-- .skill-unit -->

										<!-- .skill-unit -->
                                        <div class="skill-unit">
                                            <h4>DJANGO</h4>
                                            <div class="bar" data-percent="80">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                        <!-- .skill-unit -->
                                        
                                        <!-- .skill-unit -->
                                        <div class="skill-unit">
                                            <h4>PHP</h4>
                                            <div class="bar" data-percent="70">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                        <!-- .skill-unit -->

                                        <!-- .skill-unit -->
                                        <div class="skill-unit">
                                            <h4>LARAVEL</h4>
                                            <div class="bar" data-percent="70">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                        <!-- .skill-unit -->
                                        
                                        <!-- .skill-unit -->
                                        <div class="skill-unit">
                                            <h4>JAVASCRIPT</h4>
                                            <div class="bar" data-percent="70">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                        <!-- .skill-unit -->
                                        
										<!-- .skill-unit -->
                                        <div class="skill-unit">
                                            <h4>AJAX</h4>
                                            <div class="bar" data-percent="50">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                        <!-- .skill-unit -->

                                        <!-- .skill-unit -->
                                        <div class="skill-unit">
                                            <h4>NODE.JS</h4>
                                            <div class="bar" data-percent="50">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                        <!-- .skill-unit -->

                                        <!-- .skill-unit -->
                                        <div class="skill-unit">
                                            <h4>MySQL</h4>
                                            <div class="bar" data-percent="80">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                        <!-- .skill-unit -->

                                        <!-- .skill-unit -->
                                        <div class="skill-unit">
                                            <h4>PostgreeSQL</h4>
                                            <div class="bar" data-percent="50">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                        <!-- .skill-unit -->
                                    
                                    </div>
                                    <!-- DEV SKILLS -->
                                    
                                    
                                    
                                    <h2 class="section-title"><span><i class="fa fa-paint-brush"></i>FRONT END</span></h2>
                                    
                                    <!-- DESIGN SKILLS -->
                                    <div class="skillset">
                                        
                                        <!-- .skill-unit -->
                                        <div class="skill-unit">
                                            <h4>HTML5</h4>
                                            <div class="bar" data-percent="90">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                        <!-- .skill-unit -->
                                        
                                        <!-- .skill-unit -->
                                        <div class="skill-unit">
                                            <h4>CSS3</h4>
                                            <div class="bar" data-percent="60">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                        <!-- .skill-unit -->
                                        
                                        <!-- .skill-unit -->
                                        <div class="skill-unit">
                                            <h4>JQUERY</h4>
                                            <div class="bar" data-percent="50">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                        <!-- .skill-unit -->
										

                                        <!-- .skill-unit -->
                                        <div class="skill-unit">
                                            <h4>BOOTSTRAP</h4>
                                            <div class="bar" data-percent="80">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                        <!-- .skill-unit -->
                                    
                                    </div>
                                    <!-- DESIGN SKILLS -->
                                    
                                    
                                    
                                    <h2 class="section-title"><span><i class="fa fa-comments-o"></i>RECOMENDAÇÕES</span></h2>
                                    
                                    <!-- testo-group -->
                                    <div class="testo-group">
                                        
                                        <!-- Testimonial -->
                                        <div class="testo">
                                            <img src="{% static 'images/site/testo-01.jpg' %}" alt="someone">
                                            <h4>Phillip Austin <span>CEO / Gravity Inc.</span></h4>
                                            <p>He is a great and hardworking guy. I am so proud of i have him as my asistant. He helped me so much. Also he is a great and hardworking guy. I am so proud of i have him as my asistant. He helped me so much.</p>
                                           
                                        </div>
                                        <!-- Testimonial -->
                                        
                                        <!-- Testimonial -->
                                        <div class="testo">
                                            <img src="{% static 'images/site/testo-02.jpg' %}" alt="someone">
                                         
                                                <h4>Gary Morgan <span>Chemist / Freelancer</span></h4>
                                                <p>He was a great co-worker and a friend. I would't be where i am without his support.</p>
                                           
                                        </div>
                                        <!-- Testimonial -->
                                        
                                        <!-- Testimonial -->
                                        <div class="testo">
                                            <img src="{% static 'images/site/testo-03.jpg' %}" alt="someone">
                                            
                                                <h4>Jason Wilson <span>Lab Geek / Miami Metro</span></h4>
                                                <p>He is ok.</p>
                                            
                                        </div>
                                        <!-- Testimonial -->
                                    
                                    </div>
                                    <!-- testo-group -->
                                    
                                    
                                    
                                    
                                    
                                    
                                    <h2 class="section-title"><span><i class="fa fa-download"></i>DOWNLOAD CV</span></h2>
                                    
                                    <p>Faça o download do meu curriculum VITAE no formato .pdf, como preferir. Atualmente trabalho homeoffice criando sistemas, websites e estudando, envolvendo algumas das ferramentas já citadas. <b>Eu amo o que eu faço.</b></p>
                                    
                                    <!-- DOWNLOAD BUTTON -->
                                    <div class="download-button">
                                        <a href="#" class="button primary">DOWNLOAD CV</a>
                                    </div>
                                    <!-- DOWNLOAD BUTTON -->
                                    
                                    
                                    <h2 class="section-title"><span><i class="fa fa-linkedin"></i>VISUALIZE MEU PERFIL LINKEDIN</span></h2>
                                    
                                    <p>Você pode visualizar meu perfil Linkedin para mais detalhes.</p>
                                    
                                    <!-- DOWNLOAD BUTTON -->
                                    <div class="download-button">
                                        <a href="#" class="button primary">MY LINKEDIN PROFILE</a>
                                    </div>
                                    <!-- DOWNLOAD BUTTON -->
                                    
                                
                               </div>
                               <!-- col 6/12 -->
                        
                        
                        </div>                       
                        <!-- row -->                   
                                            
                                           
                                            
                                		
                    </div>
                    <!-- CONTENT -->
					
				</section>
                <!-- PAGE : RESUME -->